@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
}

main {
    height: 90vh;
    position: relative;
    margin: 0 auto;
}

footer {
    background-color: #ffffff;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-logo {
    text-align: center;
    padding: 10%;
}

.col-form {
    text-align: center;
    max-width: 80%;
}

.col-logo img {
    max-width: 300px;
}

.col-logo h2 {
    font-size: 16px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 16px;
}

.col-form .form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px;
}

.col-form .form-container input, .col-form .form-container .btn{
    width: 100%;
    margin: 5px 0;
    height: 32px;
    font-size: 14px;
}

.col-form .form-container input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
}

.col-form .form-container input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.col-form .form-container .btn {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
}

.col-form .form-container a {
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    margin: 10px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadde1;
    display: block;
}

.col-form .form-container a:hover {
    text-decoration: underline;
}

.col-form .form-container .btn-new {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 16px;
    color: #ffffff;
    font-weight: 700;
}

.col-form p {
    font-size: 14px;
}

.col-form p a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 600;
}

.col-form p a:hover {
    text-decoration: underline;
}

@media screen and (orientation:landscape) and (min-device-width:320px) and (max-device-width:780px) {
    .row {
        flex-direction: row;
        justify-content: start;
    }
    .col-logo {
        padding: 2%;
        flex: 0 0 50%;
        text-align: left;
    }
    .col-form {
        flex: 0 0 40%;
    }
}

@media screen and (orientation:portrait) and (min-device-width:700px) and (max-device-width:1100px) {
    main {
        height: 82vh;
    }

}

@media screen and (min-device-width:992px) {
    main {
        height: 80vh;
    }
    .row {
        flex-direction: row;
        max-width: 1000px;
    }
    .col-logo {
        padding: 0;
        flex: 0 0 50%;
        text-align: left;
    }
    .col-logo h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .col-form {
        flex: 0 0 40%;
        max-width: 500px;
    }
    .col-form .form-container input, .col-form .form-container .btn-login {
        font-size: 18px;
        height: 45px;
        margin: 8px 0;
    }
    .col-form p {
        font-size: 16px;
    }